<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="{{ url_for('home') }}"><h1>Psycare Shift Planner</h1></a>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Impressum</h1>

    <h2>Project</h2>
    The Psycare Shiftplanner is a free tool. It does not store personal information on the server. Still be mindful with the information that you process on the internet. Use no full names and do not include any contact information of persons in the files that you upload.<br><br>
    This is an open-source project. Please find the source code on <a href="https://github.com/toffimenzel/shiftplanner">GitHub</a>.
    <br><br>
    Responsible person for the instance available at <a href="psycare-shiftplanner.org">psycare-shiftplanner.org</a> is Toffi Menzel.

    <h2>Liability Disclaimer</h2>
    <p>
        <strong>Data Processing</strong> The service of this website is not permanently storing any user data. User data may be temporarily stored when uploaded by the users and stored for as long as it is needed to provide the service and then deleted.<br>
        <br>
        <strong>Service Liability</strong> The functionality of this website comes with absolutely no warranty.<br>
        <br>
        <strong>Content Liability:</strong> The content of our app has been created with the utmost care. However, we cannot guarantee the accuracy, completeness, or timeliness of the content. As a service provider, we are responsible for our own content on these pages in accordance with general laws. However, we are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.<br>
        <br>
        <strong>Link Liability:</strong> Our site may contain links to external websites over which we have no control. Therefore, we cannot accept any responsibility for these external contents. The respective provider or operator of the pages is always responsible for the content of the linked pages. Linked pages were checked for possible legal violations at the time of linking. Illegal contents were not recognizable at the time of linking. However, a permanent control of the linked pages is not reasonable without concrete evidence of an infringement. Upon notification of violations, we will remove such links immediately.
    </p>

    <h2>Dispute Resolution</h2>
    <p>
        The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>. We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.
    </p>
</body>
</html>
